PLATFORM ?= hijack

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
# OPTFLAGS += -O

# Default BSL assumes telosb-like programming interface
MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

# Include the hijack-specific targets
$(call TOSMake_include_platform,hijack)
# Include the msp extra targets
$(call TOSMake_include_platform,msp)

hijack: $(BUILD_DEPS)
	@:
